@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";

$font-families-map: (
  "poppins": var(--font-poppins),
  "krona-one": var(--font-krona-one),
  "rubik-bubbles": var(--font-rubik-bubbles),
  "comic-neue": var(--font-comic-neue)
);

$font-weights-map: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
  "extra-black": 1000
);

$colors-map: (
  'primary': rgba(135, 228, 100, 1),
  'white': rgba(255, 255, 255, 1),
  'black': rgba(8, 28, 0, 1),
  'surface': rgba(245, 245, 245, 1),
  'overlay': rgba(8, 28, 0, 0.15),
  'accent-orange': rgba(255, 140, 57, 1),
  'primary-overlay': rgba(135, 228, 100, 0.9),
  'grey': rgba(176, 176, 176, 1)
);

$breakpoints-map: (
  desktop: 1600px,
  laptop: 1024px,
  tablet: 768px
);
