@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";

@use "./maps.scss" as *;
@use "./functions.scss" as *;

@mixin respond-to($media) {
    @if map.has-key($breakpoints-map, $media) {
        @media (min-width: map.get($breakpoints-map, $media)) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$media}`. "
            + "Available breakpoints are: #{map.keys($breakpoints)}.";
    }
}

@mixin size($types, $values...) {
    $types-list: if(meta.type-of($types) == "list", $types, ($types));
    $value-index: 1;

    @each $type in $types-list {
        @if $type == "default" {
            $width: if(list.length($values) >= $value-index, list.nth($values, $value-index), null);
            $height: if(list.length($values) >= $value-index + 1, list.nth($values, $value-index + 1), null);
            width: $width;
            height: $height;
            $value-index: $value-index + 2;
        } @else if $type == "min" {
            $min-width: if(list.length($values) >= $value-index, list.nth($values, $value-index), null);
            $min-height: if(list.length($values) >= $value-index + 1, list.nth($values, $value-index + 1), null);
            min-width: $min-width;
            min-height: $min-height;
            $value-index: $value-index + 2;
        } @else if $type == "max" {
            $max-width: if(list.length($values) >= $value-index, list.nth($values, $value-index), null);
            $max-height: if(list.length($values) >= $value-index + 1, list.nth($values, $value-index + 1), null);
            max-width: $max-width;
            max-height: $max-height;
            $value-index: $value-index + 2;
        } @else {
            @error "Invalid size type: #{$type}. Use 'default', 'min', or 'max'.";
        }
    }
}

@mixin flex(
    $flex: null,
    $direction: null,
    $justify: null,
    $align-content: null,
    $align-items: null,
    $wrap: null,
    $gap: null,
    $row-gap: null,
    $column-gap: null
) {
    @if $flex == true {
        display: flex;
    }

    @if $direction != null {
        flex-direction: $direction;
    }

    @if $justify != null {
        justify-content: $justify;
    }

    @if $align-content != null {
        align-content: $align-content;
    }

    @if $align-items != null {
        align-items: $align-items;
    }

    @if $wrap != null {
        flex-wrap: $wrap;
    }

    @if $gap != null {
        gap: $gap;
    }

    @if $row-gap != null {
        row-gap: $row-gap;
    }

    @if $column-gap != null {
        column-gap: $column-gap;
    }
}

@mixin flex-item-alignment(
    $align-self: null,
    $justify-self: null,
    $flex-grow: null,
    $flex-shrink: null,
    $flex-basis: null,
    $order: null
) {
    @if $align-self != null {
        align-self: $align-self;
    }

    @if $flex-grow != null {
        flex-grow: $flex-grow;
    }

    @if $flex-shrink != null {
        flex-shrink: $flex-shrink;
    }

    @if $flex-basis != null {
        flex-basis: $flex-basis;
    }

    @if $order != null {
        order: $order;
    }
}

@mixin grid(
    $grid: null,
    $rows: null,
    $columns: null,
    $areas: null,
    $row-gap: null,
    $column-gap: null,
    $gap: null,
    $justify-items: null,
    $align-items: null,
    $justify-content: null,
    $align-content: null
) {
    @include grid-template($grid, $rows, $columns, $areas, $row-gap, $column-gap, $gap);
    @include grid-alignment($justify-items, $align-items, $justify-content, $align-content);
}

@mixin grid-template(
    $grid: null,
    $rows: null,
    $columns: null,
    $areas: null,
    $row-gap: null,
    $column-gap: null,
    $gap: null
) {
    @if $grid == true {
        display: grid;
    }
    @if $rows != null {
        grid-template-rows: $rows;
    }
    @if $columns != null {
        grid-template-columns: $columns;
    }
    @if $areas != null {
        grid-template-areas: $areas;
    }
    @if $row-gap != null {
        row-gap: $row-gap;
    }
    @if $column-gap != null {
        column-gap: $column-gap;
    }
    @if $gap != null {
        gap: $gap;
    }
}

@mixin grid-alignment($justify-items: null, $align-items: null, $justify-content: null, $align-content: null) {
    @if $justify-items != null {
        justify-items: $justify-items;
    }
    @if $align-items != null {
        align-items: $align-items;
    }
    @if $justify-content != null {
        justify-content: $justify-content;
    }
    @if $align-content != null {
        align-content: $align-content;
    }
}

@mixin grid-item($grid-area: null, $justify-self: null, $align-self: null) {
    @if $grid-area != null {
        grid-area: $grid-area;
    }

    @if $justify-self != null {
        justify-self: $justify-self;
    }

    @if $align-self != null {
        align-self: $align-self;
    }
}

@mixin spacing($types, $values...) {
    $types-list: if(meta.type-of($types) == "list", $types, ($types));

    $value-count: list.length($values);

    @if $value-count != list.length($types-list) {
        @error "Количество значений должно соответствовать количеству типов.";
    }

    @each $type in $types-list {
        @if $type == "margin" or $type == "padding" {
            $current-values: list.nth($values, list.index($types-list, $type));
            $current-value-count: list.length($current-values);

            @if $current-value-count == 1 {
                #{$type}: list.nth($current-values, 1);
            } @else if $current-value-count == 2 {
                #{$type}: list.nth($current-values, 1) list.nth($current-values, 2);
            } @else if $current-value-count == 3 {
                #{$type}: list.nth($current-values, 1) list.nth($current-values, 2) list.nth($current-values, 3);
            } @else if $current-value-count == 4 {
                #{$type}: list.nth($current-values, 1)
                    list.nth($current-values, 2)
                    list.nth($current-values, 3)
                    list.nth($current-values, 4);
            } @else {
                @error "Слишком много значений для '#{$type}'. Максимум 4 значения разрешены.";
            }
        } @else {
            @error "Неверный тип: #{$type}. Используйте 'margin' или 'padding'.";
        }
    }
}

@mixin position($type: null, $values...) {
    @if $type != null {
        @if $type == "relative" or $type == "absolute" or $type == "fixed" or $type == "sticky" {
            position: $type;
        } @else {
            @error "Invalid type: #{$type}. Use 'relative', 'absolute', 'fixed', or 'sticky'.";
        }
    }

    $value-count: list.length($values);

    @if $value-count == 1 {
        top: list.nth($values, 1);
        right: list.nth($values, 1);
        bottom: list.nth($values, 1);
        left: list.nth($values, 1);
    } @else if $value-count == 2 {
        top: list.nth($values, 1);
        bottom: list.nth($values, 1);
        right: list.nth($values, 2);
        left: list.nth($values, 2);
    } @else if $value-count == 3 {
        top: list.nth($values, 1);
        right: list.nth($values, 2);
        bottom: list.nth($values, 3);
        left: list.nth($values, 2);
    } @else if $value-count == 4 {
        top: list.nth($values, 1);
        right: list.nth($values, 2);
        bottom: list.nth($values, 3);
        left: list.nth($values, 4);
    } @else {
        @error "Invalid number of values. Provide either 1, 2, 3, or 4 values.";
    }
}

@mixin object-fit($fit: null, $position: null) {
    object-fit: $fit;
    object-position: $position;
}

@mixin background-image($image-path, $repeat: null, $size: null, $position: null) {
    background-image: url($image-path);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin font-class($name, $font-family, $font-weight, $font-style, $color-name, $line-height, $font-size, $desktop-font-size) {
  .#{$name} {
    font-family: $font-family;
    font-weight: font-weight($font-weight);
    font-style: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    color: color($color-name);
    
    @if $font-size != $desktop-font-size {
      @include respond-to(desktop) {
        font-size: $desktop-font-size;
      }
    }
  }
}
