@use "abstracts/index.scss" as *;

.main {
    @include position(relative);
    @include size(default, (null, 720px));
    overflow-x: hidden;
    @include respond-to(tablet) {
        @include size(default, (null, 800px));
    }
    @include respond-to(desktop) {
        @include size(default, (null, 880px));
    }
    &__container {
        @include flex(true, column, $align-items: center, $justify-content: center);
    }
    &__background {
        @include position(absolute);
        &:nth-child(1) {
            @include size(default, 185px);
            @include position(
                $inset: (
                    auto 0 110px 0
                )
            );
            @include respond-to(tablet) {
                @include size(default, 280px);
                @include position(
                    $inset: (
                        auto 0 95px 0
                    )
                );
            }
            @include respond-to(desktop) {
                @include size(default, 360px);
                @include position(
                    $inset: (
                        auto 0 50px 0
                    )
                );
            }
        }
        &:nth-child(2) {
            @include size(default, 280px);
            @include position(
                $inset: (
                    auto -100px 35px auto
                )
            );
            @include respond-to(tablet) {
                @include size(default, 420px);
                @include position(
                    $inset: (
                        auto -160px 15px auto
                    )
                );
            }
            @include respond-to(desktop) {
                @include size(default, 540px);
                @include position(
                    $inset: (
                        auto -10px 0 auto
                    )
                );
            }
        }
        &:nth-child(3) {
            @include size(default, 160px);
            @include position(
                $inset: (
                    12px -20px 0 auto
                )
            );
            @include respond-to(tablet) {
                @include size(default, 270px);
                @include position(
                    $inset: (
                        20px -40px 0 auto
                    )
                );
            }
            @include respond-to(desktop) {
                @include size(default, 310px);
                @include position(
                    $inset: (
                        0 15px 0 auto
                    )
                );
            }
        }
        &:nth-child(4) {
            @include size(default, 160px);
            @include position(
                $inset: (
                    12px 0 0 -20px
                )
            );
            @include respond-to(tablet) {
                @include size(default, 280px);
                @include position(
                    $inset: (
                        -20px 0 0 -10px
                    )
                );
            }
            @include respond-to(laptop) {
                @include position(
                    $inset: (
                        -20px 0 0 30px
                    )
                );
            }
            @include respond-to(desktop) {
                @include size(default, 320px);
                @include position(
                    $inset: (
                        -50px 0 0 180px
                    )
                );
            }
        }
    }
    &__logo {
        @include spacing(margin, (16px 0 34px 0));
        @include respond-to(tablet) {
            @include spacing(margin, (32px 0 80px 0));
        }
        @include respond-to(laptop) {
            @include size(default, 896px);
            @include spacing(margin, (19px 0 67px 0));
        }
        @include respond-to(desktop) {
            @include size(default, 1504px);
            @include spacing(margin, (13px 0 58px 0));
        }
    }
    &__text {
        text-align: center;
        text-shadow:
            -2px -2px 0 white,
            2px -2px 0 white,
            2px 2px 0 white,
            -2px 2px 0 white;
        @include spacing(margin, (121px 0 0 0));
        @include font("rubik-bubbles", regular, normal, "black", 1, 22px, 40px);
        @include respond-to(tablet) {
            @include spacing(margin, (128px 0 0 0));
        }
    }
    &__button {
        @include flex(true);
        @include button((28px, 77px), $border-style: 6px solid color("white"), $border-radius: 40px);
        @include font("krona-one", regular, normal, "white", 1.2, 17px);
        background: radial-gradient(ellipse at center, #525252 0%, #282828 100%);
        rotate: -3deg;
        &-container {
            @include position(relative);
        }
        &-image {
            @include position(absolute);
            pointer-events: none;
            &:nth-of-type(1) {
                @include size(default, 90px);
                @include position(
                    $inset: (
                        auto -30px -18px auto
                    )
                );
            }
            &:nth-of-type(2) {
                @include size(default, 120px);
                @include position(
                    $inset: (
                        -28px auto 0 -28px
                    )
                );
            }
        }
    }
}

.about {
    background-color: color("white");
    border-radius: 30px;
    @include respond-to(tablet) {
        background-color: transparent;
    }
    &__container {
        background-color: color("white");
        border-radius: 30px;
    }
    &__wrapper {
        @include spacing(padding, (20px));
        @include flex(true, column, $align-items: center, $gap: 28px);
        @include respond-to(laptop) {
            @include flex($gap: 36px);
        }
        @include respond-to(desktop) {
            @include flex($direction: row, $gap: 140px);
        }
    }
    &__content {
        @include flex(true, column, $align-items: center);
        @include respond-to(tablet) {
            @include size(default, 576px);
            @include flex($gap: 24px);
        }
        @include respond-to(laptop) {
            @include size(default, 698px);
        }
        @include respond-to(desktop) {
            @include size(default, 603px);
            @include flex($align-items: flex-start, $gap: 28px);
        }
    }
    &__image {
        @include object-fit(cover, center);
        @include size(default, (320px, 204px));
        border-radius: 15px;
        @include respond-to(tablet) {
            @include size(default, (100%, 476px));
        }
        @include respond-to(laptop) {
            @include size(default, (null, 656px));
        }
        @include respond-to(desktop) {
            @include size(default, (584px, 504px));
        }
    }
    &__title {
        text-align: center;
        @include font("krona-one", regular, normal, "black", 28px, 24px, 30px, 30px, 40px);
        @include respond-to(desktop) {
            text-align: left;
        }
        &-highlight {
            color: color("primary");
        }
    }
    &__text {
        @include font("poppins", regular, normal, "black", 24px, 15px);
        text-align: center;
        @include spacing(margin, (20px 0 28px));
        @include respond-to(tablet) {
            @include spacing(margin, (0));
        }
        @include respond-to(desktop) {
            text-align: left;
        }
    }
    &__button {
        @include font("krona-one", regular, normal, "black", 1.2, 15px);
        @include button((14px 0), "primary", $border-radius: 150px);
        @include size(default, 100%);
        @include flex(true, $align-items: center, $justify-content: center, $gap: 8px);
        @include respond-to(tablet) {
            @include size(default, fit-content);
            @include spacing(padding, (14px 40px));
        }
        @include respond-to(desktop) {
            @include spacing(padding, (20px 40px));
        }
    }
}

.how-to-buy {
    &__container {
        @include grid(true, repeat(2, auto), repeat(2, auto), "title arrows" "slider slider", $row-gap: 20px);
        @include respond-to(tablet) {
            @include grid($row-gap: 28px);
        }
    }
    &__title {
        @include grid-item-alignment(title);
        @include size(default, fit-content);
        @include spacing(padding, (10px 20px));
        background-color: color("white");
        border-radius: 150px;
        @include font("krona-one", regular, normal, "black", 24px, 15px, 20px);
        @include respond-to(tablet) {
            @include spacing(padding, (20px 30px));
        }
    }
    &__arrows {
        @include grid-item-alignment(arrows, end, center);
    }
    .slider {
        @include grid-item-alignment(slider);
        &__slides {
            @include flex(true, $align-items: center, $gap: 12px);
            @include respond-to(tablet) {
                @include flex($gap: 20px);
            }
        }
        &__slide {
            &:nth-child(5) {
                .card {
                    &__image {
                        border: 4px solid color("primary");
                    }
                }
            }
            &:nth-child(6) {
                .card {
                    &__image {
                        @include size(default, (100%, 100%));
                        @include spacing(padding, (12px));
                        border-radius: 40px;
                        @include respond-to(tablet) {
                            border-radius: 60px;
                        }
                    }
                }
            }
        }
        .card {
            @include position(relative);
            @include size(default, (280px, 392px));
            border-radius: 30px;
            background-color: color("white");
            @include respond-to(tablet) {
                @include size(default, (370px, 532px));
                border-radius: 50px;
            }
            &__wrapper {
                @include spacing(padding, (12px 12px 48px));
                @include flex(true, column, $align-items: center, $gap: 24px);
                @include respond-to(tablet) {
                    @include spacing(padding, (12px 12px 64 px));
                    @include flex($gap: 48px);
                }
            }
            &__image {
                @include size(default, (100%, 100%));
                @include object-fit(cover, center);
                border-radius: 20px;
                @include respond-to(tablet) {
                    border-radius: 50px;
                }
            }
            &__title {
                @include font("krona-one", regular, normal, "black", 1.2, 20px);
            }
        }
    }
}
